
$font-path: "../assets/fonts";
$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary:    #1289A7,
  secondary:  #12CBC4,
  danger:     #f53d3d,
  light:      #f1f2f6,
  dark:       #1B1464
);

//top tollbar
$toolbar-md-background: color($colors, secondary);

//bot tabs
$tabs-md-background: color($colors, secondary);
$tabs-md-tab-color-active: color($colors, light);
$tabs-md-tab-color: color($colors, light);
$tabs-md-tab-text-color: color($colors, light);

$list-md-background-color: color($colors, secondary);
$list-md-text-color: color($colors, light);



@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
